<!-- 
 COPYRIGHT LICENSE: This information contains sample code provided in source code form.
 You may copy, modify, and distribute these sample programs in any form without payment
 to IBM for the purposes of developing, using, marketing or distributing application
 programs conforming to the application programming interface for the operating platform
 for which the sample code is written.

 Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON 
 AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING,
 BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY,
 SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ANY WARRANTY OR
 CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
 INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF
 THE SAMPLE SOURCE CODE. IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT,
 UPDATES, ENHANCEMENTS OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.

 (C) Copyright IBM Corp. 2013.
 All Rights Reserved. Licensed Materials - Property of IBM.
-->

<server>
    <!-- Enable features -->
    <featureManager>
        <feature>cdi-1.0</feature>
        <feature>ejbLite-3.1</feature>
        <feature>jpa-2.0</feature>
        <feature>jsp-2.2</feature>
    </featureManager>

    <!-- Set the variable for the Apache Derby install location -->
    <variable name="derbyInstallDir" value="${server.config.dir}/derby" />

    <!--
      allow reuse of 'busy' ports for fast server recycling on linux (where ports remain 
      blocked for up to 2 mins after server stops)
    -->
    <httpEndpoint host="*" httpPort="9080" id="defaultHttpEndpoint">
      <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>
  
    <jdbcDriver id="Derby" libraryRef="DerbyLib"/>
    <library id="DerbyLib">
        <fileset dir="${derbyInstallDir}/lib" includes="derby.jar"/>
    </library>

    <dataSource id="jdbc/DerbyDataSource" jdbcDriverRef="Derby" jndiName="jdbc/DerbyDataSource">
        <properties createDatabase="create" databaseName="PollingDB"/>
    </dataSource>
    <dataSource id="jdbc/NonTxDerbyDataSource" jdbcDriverRef="Derby" jndiName="jdbc/NonTxDerbyDataSource" transactional="false">
        <properties createDatabase="create" databaseName="PollingDB"/>
    </dataSource>


<logging traceSpecification="*=FINE"
maxFileSize="100"
maxFiles="5"
/> 

</server>
