{
'name': 'SyslogDemo1_ST',
'InputType': 'Logs',
'SplitterRuleOrFileSet':'Generic-Split',
'AnnotatorRuleOrFileSet':'Generic-Annotate',
'postOnFailure':'false',   
'indexingConfig': {
    "fields": {
        "logRecord": {
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "dataType": "TEXT",
            "tokenizer": "literal",
            "sortable": false,
            "source": {
                "paths": [
                    "content.text",
                    "metadata.text"
                ]
            },
            "retrieveByDefault": true
        },
        "timestamp": {
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "dataType": "DATE",
            "tokenizer": "literal",
            "sortable": true,
            "source": {
                "dateFormats": [
                    "yyyy MMM dd HH:mm:ss"
                ],
                "paths": [
                    "metadata.timestamp"
                ],
                "combine": "FIRST"
            },
            "retrieveByDefault": true
        },
        "logsource": {
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "dataType": "TEXT",
            "tokenizer": "literal",
            "sortable": false,
            "source": {
                "paths": [
                    "metadata.logsource"
                ]
            },
            "retrieveByDefault": true
        }
    },
    "timeZone": "UTC",
    "indexConfigMeta": {
        "version": "0.1",
        "name": "Generic Annotation",
        "description": "Index Mapping Configuration for Generic Annotation",
        "lastModified": "06/02/2013"
    }
}
}
